rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // 타베마쇼 지원서 컬렉션 읽기/쓰기 허용
    match /tabemasho_applicants/{document=**} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
